body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: yellow;
  }

  *::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: gray;
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
