@import '../StyleVariables';

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  background: $light-black;

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: $yellow;
  }

  *::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: $gray;
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  }
}

main {
  width: 100%;
  height: 100vh;
  border: 1px solid transparent;

  /* Desktop */
  @media only screen and (min-width: $desktop-width) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

section {
  position: relative;
  border-radius: $border-radius;
  box-shadow: 0 3px 2px $blue, 0 4px 3px $blue, 0 -2px 1px $white, 0 -3px 2px $white,
    2px 0 2px $yellow, 4px 0 4px $yellow;
  transform: translateY(-50%);
  top: 47%;
  margin: 10px;
  height: auto;

  /* Mobile */
  @media only screen and (max-width: $desktop-width) {
    transform: translateY(-50%);
    top: 48%;
  }
}

.container-fluid {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

.card {
  border-radius: $border-radius $border-radius 0 0;
  text-align: right;
  background-color: $gray;
  color: $white;
  font-family: 'Coda', cursive;
  border: 1px solid $dark-white;
  border-bottom-width: 1.5px;
  height: 25vh;

  /* Mobile */
  @media only screen and (max-width: $desktop-width) {
    height: 30vh;
  }
}

.card-body {
  padding: 1em 1.5em;
  border-radius: $border-radius $border-radius 0 0;
}

.card-text {
  margin-bottom: 10px;
  font-size: 17px;
  min-height: 35px;
  font-weight: bold;
  overflow-x: hidden;
  overflow-y: auto;
  height: 6vh;

  /* Mobile */
  @media only screen and (max-width: $desktop-width) {
    height: 8vh;
  }
}

.card-title {
  margin-bottom: 2px;
  font-size: 30px;
  min-height: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 15vh;

  /* Mobile */
  @media only screen and (max-width: $desktop-width) {
    height: 20vh;
  }
}

.error {
  color: $red;
}
