@import '../StyleVariables';

.btn {
  background-color: $dark-black;
  color: $blue;
  border-radius: 0;
  border-width: 1px;
  border-color: $blue;
  font-size: 3.5vh;

  /* Mobile */
  @media only screen and (max-width: $desktop-width) {
    height: 12vh;
    font-size: 5vh;
  }
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.topLeft {
  border-top-left-radius: 0;
}

.topRight {
  border-top-right-radius: 0;
}

.bottomLeft {
  border-bottom-left-radius: $border-radius;
}

.bottomRight {
  border-bottom-right-radius: $border-radius;
}

.action {
  border-color: $yellow;
  color: $yellow;
  font-weight: bold;
}

.left {
  border-left-width: 2px;
}

.hMid {
}

.right {
  border-right-width: 2px;
}

.top {
  border-top: 0;
}

.vMid {
}

.bottom {
  border-bottom-width: 2px;
}
