/*background: #222831*/
/*one: #2d4059*/
/*highlight: #ff5722*/
/*text: #eeeeee*/
/*https://colorhunt.co/palette/21781*/

/*background: #303841*/
/*one: #3a4750*/
/*highlight: #f6c90e*/
/*text: #eeeeee*/
/*https://colorhunt.co/palette/18378*/


body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #eeeeee;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer;
}

*::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

*::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #b5b5b5;
}

*::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #f1f1f1;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    color: #eeeeee;
    font-weight: 500;
}

a, p {
    color: #eeeeee;
}

p, span, h1, h2, h3, h4, h5, h6 {
    user-select: none;
}

span:active, a:hover {
    color: #f6c90e;
}




#home-img {
    background-image: url(home.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    filter: grayscale(100%) opacity(0.35) saturate(1.1);
}

#about-img {
    background: url(https://images.unsplash.com/photo-1485635153370-c97bb55602c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) no-repeat fixed center center;
}

#skills-img {
    background: url(https://images.unsplash.com/photo-1485635153370-c97bb55602c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) no-repeat fixed center center;
}

#experience-img {
    background: url(https://images.unsplash.com/photo-1485635153370-c97bb55602c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) no-repeat fixed center center;
}




#home {
    margin-top: 42%;
    margin-left: 15%;
    text-align: left;
    line-height: 40px;
    letter-spacing: 3px;
}

#about {
}

#skills {
}

#experience {
}




.page {
    position: absolute;
    width: calc(100% - 18px);
    height: calc(100% - 18px);
    margin: 8px;
    box-shadow: 0 20px 35px #303841, 0 10px 10px #303841;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-clip: border-box;
    border: 1px solid;
    border-radius: 5px;
    border-color: #303841 #3a4750 #303841 #303841;
}




aside {
    background-color: #303841;
    flex-basis: 20%;
    max-width: 260px;
    min-width: 190px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid;
    border-color: transparent #303841 transparent transparent;
    border-radius: 1px 0 0 1px;
    letter-spacing: 2px;
}

.logo {
    text-align: center;
    margin: 30px 0;
    width: auto;
    height: auto;
}

.logo img {
    width: auto;
    height: auto;
    filter: invert(0.7);
}

nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
}

.page-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    width: calc(100% - 6px);
    height: 55px;
    margin: 3px;
    text-transform: uppercase;
    transition-duration: .35s;
    border: 1px solid transparent;
}

.page-links:hover {
    border-color: #f6c90e;
    border-radius: 15px;
}

#page-link-selected {
    border: 1px solid transparent;
    color: #f6c90e;
    text-decoration: none;
    cursor: default;
}




article {
    flex-basis: 80%;
    flex-grow: 1;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 0 1px 1px 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #303841;
}

.background {
    z-index: 1;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 5px;
}

.content {
    position: absolute;
    z-index: 2;
    border: 1px solid transparent;
    border-radius: 5px;
    max-width: calc(100% - 195px);
    min-width: calc(100% - 265px);
    height: calc(100% - 2px);
    width: calc(80% - 2px);
    top: 0;
    right: 0;
}




.name {
    line-height: 50px;
    font-size: 80px;
    margin-bottom: 45px;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-style: italic;
}

.title {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    font-weight: 500;
    padding: 15px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 25px;
}
