/*background: #303841*/
/*primary: #3a4750*/
/*highlight: #f6c90e*/
/*text: #eeeeee*/

/*Global styles*/
/*Colours from https://colorhunt.co/palette/18378*/
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #eeeeee;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

*::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #f6c90e;
}

*::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: #303841;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

/*Common element styles*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-style: italic;
}

a, p, h1, h2, h3, h4, h5, h6, span, li, th, td {
    color: inherit;
}

p, span, h1, h2, h3, h4, h5, h6, li, th, td {
    user-select: none;
}

span:active, a:hover {
    color: #f6c90e;
}

/*Top level div for each page*/
main {
    position: absolute;
    width: calc(100% - 18px);
    height: calc(100% - 18px);
    margin: 8px;
    box-shadow: 0 20px 35px #303841, 0 10px 10px #303841;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-clip: border-box;
    border: 1px solid;
    border-radius: 5px;
    border-color: #303841 #3a4750 #303841 #303841;
}

/*Common side navigation bar for each page*/
aside {
    background-color: #303841;
    flex-basis: 20%;
    max-width: 260px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    letter-spacing: 2px;
    border: 1px solid;
    border-color: transparent #f6c90e transparent transparent;
    border-radius: 5px 0 0 5px;
}

figure {
    text-align: center;
    margin: 30px 0;
    width: auto;
    height: auto;
}

figure img {
    width: auto;
    height: auto;
    filter: invert(0.7);
}

@media screen and (max-width: 710px) {
  figure {
      display: none;
  }
}

nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
}

.page-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    width: calc(100% - 6px);
    height: 55px;
    margin: 3px;
    text-transform: uppercase;
    transition-duration: 0.35s;
    border: 1px solid transparent;
}

.page-links:hover {
    border-color: #f6c90e;
    border-radius: 15px;
}

#page-link-selected {
    border: 1px solid transparent;
    color: #f6c90e;
    text-decoration: none;
    cursor: default;
}


/*Content elements and divs for each page*/
article {
    flex-basis: 80%;
    flex-grow: 1;
    height: 100%;
    max-height: 100%;
    z-index: 0;
    overflow: hidden;
    background-color: #3a4750;
    border: 1px solid transparent;
    border-radius: 0 5px 5px 0;
}

/*Background container div and images for each page*/
.background {
    z-index: 1;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 0 5px 5px 0;
}

#home-img {
    background-image: url(home.jpg);
    filter: grayscale(100%) opacity(0.35) saturate(1.1);
}

#about-img {
    background-image: url(about.jpg);
    filter: grayscale(100%) opacity(0.25) saturate(1.1);
}

#skills-img {
    background-image: url(skills.jpg);
    filter: grayscale(100%) opacity(0.15) saturate(1.1);
}

#books-img {
    background-image: url(books.jpg);
    filter: grayscale(100%) opacity(0.35) saturate(1.1);
}

#home-img, #about-img, #skills-img, #books-img {
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}


/*Foreground container div overlaid on top of each background image div*/
section {
    position: absolute;
    z-index: 2;
    min-width: calc(100% - 265px);
    width: calc(80% - 2px);
    height: calc(100% - 2px);
    max-height: calc(100% - 2px);
    top: 0;
    right: 0;
    overflow-y: auto;
}

/*Common content styles*/
.page-header {
    text-align: center;
    font-size: 60px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-color: #f6c90e;
}

/*Styles for the index/home page*/
#home {
    margin-top: 33%;
    margin-left: 15%;
    text-align: left;
    line-height: 40px;
    letter-spacing: 3px;
}

.name {
    line-height: 50px;
    font-size: 80px;
    margin-bottom: 45px;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-style: italic;
}

.title {
    border-bottom: 2px solid #f6c90e;
    border-top: 2px solid #f6c90e;
    font-weight: 500;
    padding: 15px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 25px;
}

/*Common styles for the other pages*/
#about, #skills, #books {
    margin-top: 5%;
}

/*About page body*/
.body {
    text-align: justify;
    margin: 5% 20%;
    font-size: 22px;
    font-weight: 400;
}

/*Skills page list*/
.list {
    display: table;
    margin: 5% auto 0 auto;
    font-size: 22px;
    font-weight: 400;
}

.list span {
    margin-left: 10px;
}

.list li {
    margin-bottom: 20px;
}

.list li:nth-child(4n-7) {
    list-style-image: url(rocket.svg);
}

.list li:nth-child(4n-6) {
    list-style-image: url(star.svg);
}

.list li:nth-child(4n-5) {
    list-style-image: url(check.svg);
}

.list li:nth-child(4n-4) {
    list-style-image: url(hat.svg);
}

/*Books page table*/
table {
    border-spacing: 0;
    border-collapse: separate;
    border: 0.5px solid #eeeeee;
    border-radius: 10px;
    min-height: 80%;
    height: 80%;
    width: 80%;
    margin: 0 auto 3% auto;
}

td, th {
    height: 40px;
    width: auto;
    text-align: left;
    padding: 2px 5px 2px 10px;
    transition: 0.3s;
    border: 0.5px solid #eeeeee;
}

th {
    background-color: rgba(48, 56, 65, 0.9);
    font-family: 'Alegreya', serif;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
}

th:first-child {
    border-radius: 10px 0 0 0;
}

th:last-child {
    border-radius: 0 10px 0 0;
}

td {
    font-size: 18px;
    font-weight: 400;
}

tr:nth-child(even) td {
    background-color: rgba(58, 71, 80, 0.6);
}

tr:nth-child(odd) td {
}

tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:hover {
    background: #303841;
    color: #f6c90e;
    font-weight: 500;
    user-select: auto;
    cursor: text;
    font-size: 20px;
}
